@model TP1.Models.Demande

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Demande</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tablePlancher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tablePlancher.type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.langeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.langeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.largeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.largeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cinClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cinClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nom_client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nom_client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address_client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address_client)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_demande">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
