@model IEnumerable<TP1.Models.Demande>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<section class="intro">
    <div class="bg-image h-100" style="background-image: url(https://mdbootstrap.com/img/Photos/new-templates/glassmorphism-article/img7.jpg);">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card mask-custom">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-borderless text-white mb-0">
                                        <thead>
                                            <tr>
            <th>
                @Html.DisplayNameFor(model => model.tablePlancher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.langeur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.largeur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cinClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nom_client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address_client)
            </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tablePlancher.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.langeur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.largeur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cinClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom_client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address_client)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_demande">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_demande">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_demande">Delete</a>
            </td>
        </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
