@model TP1.Models.Offre

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Offre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.remise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.remise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_validation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_validation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tablePlancher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tablePlancher.type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
